<p [style.background]="backgroundColor">The color is:{{backgroundColor}} </p>

<mat-form-field>
    <input type="text" matInput placeholder="Insert a valid color" [(ngModel)]="typedColor" >
</mat-form-field>

<button mat-icon-button (click)='set_color()'> <mat-icon>add</mat-icon></button>
