html{
  background-size: cover;
    background-color: antiquewhite;

    .content{
      display: flex;
      align-content: center;
      align-items: center;

      .filterButtons{
        margin-left: 400px;
        display: flex;
        
      }
    }
}

