<div class="container">
<mat-form-field appearance="legacy">
    <mat-label>Search</mat-label>
    <input matInput type="text"[(ngModel)]="noteContent">
</mat-form-field>
    <mat-icon (click)="onSearchClicked()">search</mat-icon>
</div>
 