<div class="background">

<div class="form">
    <h1 class="header">Add a note </h1>
<br><br><br>
<form [formGroup]="validateForm" (ngSubmit)="Submit()">
    <label>
        Title
    </label>
    <br>
    <mat-form-field class="label" >
        <mat-label>Enter your title</mat-label>
    <input
        matInput
        name="title"
        formControlName="title"
         />
    </mat-form-field>

<br>
   <label>
    Description
</label>
<br>
   <mat-form-field class="label">
       <mat-label>Enter your description</mat-label>
    <textarea matInput name="description" formControlName="description"> 
    </textarea>
    </mat-form-field>


<br>
<label>
    Category
</label>
<br>
<mat-form-field class="label">
<mat-label >Select a category</mat-label>
<mat-select  (click)="setCategory()" [formControl]="categoryId" name="categoryId">
    <mat-option *ngFor="let category of categories" [value]=category.id  >{{category.name}}        
    </mat-option>
</mat-select>
</mat-form-field>
<br>


<label>
    Color
</label>
<br>
<mat-form-field class="label">
<mat-label>Select a color</mat-label>
<mat-select formControlName="color" name="color">
    <mat-option value="Red">Red</mat-option>
    <mat-option value="Green">Green</mat-option> 
    <mat-option value="Blue">Blue</mat-option> 
    <mat-option value="Yellow">Yellow</mat-option>
    <mat-option value="Purple">Purple</mat-option>
    <mat-option value="Orange">Orange</mat-option>  
</mat-select>
</mat-form-field>

<br>
<button class="btn" style="color:coral;" (click)="addNote()" mat-button routerLink="" [disabled]="validateForm.invalid" type="submit">Submit</button>
<br>
</form>
</div>
</div>
